.tablePage{
    border: 0.1px solid #5e5e5e;
    padding: 20px;
    border-radius: 20px;

    .tableParamsContainer{
        border: 0.1px solid #5e5e5e;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }
}